<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sharp80.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="SharpDX"/>
    </assemblyBinding>
  </runtime>
  <userSettings>
        <Sharp80.Properties.Settings>
              <setting name="disk0" serializeAs="String">
                    <value>{{TRSDOS}}</value>
              </setting>
              <setting name="disk1" serializeAs="String">
                    <value />
              </setting>
              <setting name="disk2" serializeAs="String">
                    <value />
              </setting>
              <setting name="disk3" serializeAs="String">
                    <value />
              </setting>
              <setting name="last_cmd_file" serializeAs="String">
                    <value />
              </setting>
              <setting name="last_asm_file" serializeAs="String">
                    <value />
              </setting>
              <setting name="throttle" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="sound" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="advanced_view" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="drive_noise" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="last_snapshot_file" serializeAs="String">
                    <value />
              </setting>
              <setting name="breakpoint" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="breakpoint_on" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="default_floppy_directory" serializeAs="String">
                    <value />
              </setting>
              <setting name="auto_start_on_reset" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="green_screen" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="full_screen" serializeAs="String">
                    <value>False</value>
              </setting>
        </Sharp80.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
